<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        console.log("in socket");
        socket.on('newdata', function (msg) {
          console.log("in newdata");
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
    <style>
      .content {
        max-width: 1200px;
        margin-right: 100px;
        margin-left: 450px;
      }
      </style>
</head>

<body class="" onload="setWs()">
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <!--start-->
                <% cards.forEach(function(card) { %>
                  <%- include("../partials/card",card) %>
                    <% }); %>
                      <!--end-->  
              </div>
              <div class="row">
                <!-- <%- include("../partials/map") %> -->
                <%- include("../partials/pushpin") %>
              </div>
            </div>
          </div>
  <%- include("../partials/dashcode") %>
</body>

</html>